<h5 class="mb-3 ml-3 mt-4">Ajouter une taille</h5>
<div class="card ml-4 mt-4 mb-4" style="width: 90%;">
  <div class="card-body">
    <div class="card-text">
      <form #sizeForm="ngForm" (ngSubmit)="addSize(sizeForm)">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <label for="reference" class="form-label">Référence</label>
              <input type="text" class="form-control" id="reference" placeholder="Référence de la taille"
                name="reference" [(ngModel)]="size.reference" />
            </div>
            <div class="col-md-6">
              <label for="description" class="form-label">Description</label>
              <input type="text" class="form-control" id="description" placeholder="Description de la taille"
                name="description" [(ngModel)]="size.description" />
            </div>
          </div>
          <div class="col-md-12 mt-4">
            <ng-container *ngIf="sizeService.editMode;else addMode">
              <div class="row">
                <div class="col-md-3">
                  <button type="submit" class="btn btn-success">Modifier</button>
                </div>
                <div class="col-md-9">
                  <button type="button" class="btn btn-info" (click)="reset(sizeForm)">Reset</button>
                </div>
              </div>
            </ng-container>
            <ng-template #addMode>
              <button type="submit" class="btn btn-primary">Ajouter</button>
            </ng-template>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>