<p-toast position="bottom-right"></p-toast>

<div class="container-fluid">
    <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <h5>Liste des offres</h5>
                </div>
                <div class="col-md-3 d-flex justify-content-end">
                    <button pButton pRipple icon="pi pi-plus" class="p-button-success mr-2 addButtonSize pull-right"
                        (click)="openNew()"></button>
                    <!--                     <button pButton pRipple icon="pi pi-trash" class="p-button-danger mr-3 buttonSize pull-right"
                        (click)="deleteSelectedOffers()"
                        [disabled]="!selectedOffers || !selectedOffers.length"></button> -->
                </div>
            </div>
        </div>
    </div>
    <!--         <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template> -->
    <!--     </p-toolbar> -->
</div>
<div class="container-fluid" [style]="{ width: '99%'}">
    <p-table #dt [value]="offers" [rows]="10" responsiveLayout="scroll" [(selection)]="selectedOffers" [rowHover]="true"
        dataKey="id" [rowTrackBy]="trackByFunction" selectionMode="multiple">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="models">Modèles <p-sortIcon field="models"></p-sortIcon>
                </th>
                <th pSortableColumn="pages" *ngIf ="!globalConf.oneSourceApp" >Pages <p-sortIcon field="pages"></p-sortIcon>
                </th>
                <th pSortableColumn="price">Prix <p-sortIcon field="price"></p-sortIcon>
                </th>
                <th pSortableColumn="isEnabled">Activé <p-sortIcon field="isEnabled"></p-sortIcon>
                </th>
                <th>
                    <div class="d-flex flex-wrap align-items-center w-100">
                        <div class="d-flex justify-content-end">
                            <span style="margin-top: 0.7rem">Actions</span>
                            <button pButton icon="pi pi-ellipsis-v" (click)="op.toggle($event)"
                                style="border: none; background: none; color:blue;" aria-label="Options"></button>
                        </div>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-offer>
            <tr [ngStyle]="{'background-color': offer.deleted ? '#ebebeb' : 'white'}">
                <td>{{offer.name}}</td>
                <td>{{offer.offerModels | displayOfferModels}}</td>
                <td *ngIf ="!globalConf.oneSourceApp">{{ offer.fbPages | displayFbPage | displayJoin : '-'}}</td>
                <td>{{offer.price}} DT</td>
                <td>
                    <ng-container *ngIf="offer.enabled;else disabled">
                        <i class="pi pi-unlock" style="color: green;font-size: 17px;"></i>
                    </ng-container>
                    <ng-template #disabled>
                        <i class="pi pi-lock" style="color: red;font-size: 17px;"></i>
                    </ng-template>
                </td>
                <td>
                    <ng-container *ngIf="!offer.deleted;else rollBackButton">
                        <button pButton pRipple icon="pi pi-pencil"
                            class="p-button-rounded p-button-warning mr-2 buttonSize"
                            (click)="editOffer(offer)"></button>
                        <button pButton pRipple icon="pi pi-trash"
                            class="p-button-rounded  p-button-danger buttonSize"
                            (click)="deleteOffer(offer)"></button>
                    </ng-container>
                    <ng-template #rollBackButton>
                        <button pButton pRipple icon="pi pi-undo"
                            class="p-button-rounded  p-button-primary ml-2 buttonSize"
                            (click)="rollBackOffer(offer)"></button>
                    </ng-template>
                    <!--
                    <button pButton pRipple icon="pi pi-table" class="p-button-rounded p-button-success mr-2 buttonSize" [routerLink]="['/stock', model.id]"></button> -->
                </td>
            </tr>
        </ng-template>
        <!--         <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total il y a {{offers ? offers.length : 0 }} offres.
            </div>
        </ng-template> -->
    </p-table>
    <ng-container *ngIf="offers.length === 0">
        <p class="mt-4" style="text-align: center;font-size: medium">Veuillez ajouter des offres</p>
    </ng-container>
</div>

<p-dialog [(visible)]="offerDialog" [style]="{width: '60%'}" header="Détails de l'offre" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <app-add-offer [modelList]="models" [editMode]="editMode" [offerNameExists]="offerNameExists"
            (submitEvent)="OnSubmit($event)" (formValidationEmitter)="checkOfferExistence($event)"></app-add-offer>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<p-overlayPanel #op [style]="{ width: '250px' }">
    <p class="font-bold">Filter Par :</p>
    <p-listbox [options]="actionsOptions" [(ngModel)]="selectedActionsOptions" optionLabel="label" [multiple]="true"
        [style]="{ width: '100%' }" [listStyle]="{ 'max-height': '40rem' }" (onChange)="onOptionSelect()"
        class="listbox-style">
    </p-listbox>
</p-overlayPanel>
