
<p-toast position="bottom-right"></p-toast>
<div class="container-fluid">
  <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
    <div class="card-body">
      <div class="d-flex justify-content-center align-items-center">
        <div class="d-flex gap-3"> <!-- Changed flex-column to flex -->
          <div class="d-flex align-items-center">
            <p-radioButton value="Payée" [(ngModel)]="type"></p-radioButton>
            <label for="Payed" class="ml-2">Payée</label>
          </div>
          <div class="d-flex align-items-center">
            <p-radioButton value="Retour reçu" [(ngModel)]="type"></p-radioButton>
            <label for="Return" class="ml-2">Retour reçu</label>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
    <div class="card-body">
      <div class="row">
        <div class="col-md-9">
          <textarea rows="15" cols="200" pInputTextarea
            [(ngModel)]="text"
            placeholder="Paste your text here"
          ></textarea>
          <button pButton pRipple label="Send to {{type}}" class="p-button-success" (click)="extractBarcodes()"></button>
        </div>
      </div>
    </div>
  </div>
</div>
