
<p-dialog header="Select Options"
[(visible)]="isOptionsDialogVisible"
[modal]="true"
[closable]="true"
[dismissableMask]="true"
[style]="{ width: '300px' }">

<p-listbox
[options]="tableOptions"
[(ngModel)]="selectedTableOptions"
optionLabel="label"
[multiple]="true"
[style]="{ width: '100%' }"
[listStyle]="{ 'max-height': '40rem' }"
(onChange)="onOptionSelect()"
class="listbox-style">
</p-listbox>
</p-dialog>
 <!-- Centered Table -->
  <div
    class="card shadow-sm rounded mb-3 align-items-center"
    style="background-color: #f8f9fa; width: 100%"
  >
  <div class="card-header d-flex align-items-center flex-wrap" [style]="{ width: '100%' }">
    <div class="d-flex flex-wrap align-items-center w-100">
      <div class="left-section d-flex align-items-center">
        <p-toggleButton
        [(ngModel)]="stock"
        onLabel="Vente"
        offLabel="Afficher stock"
        class="mr-2"/>
      </div>
      <div class="menu-middle">

      </div>
      <div class="d-flex justify-content-end">
        <button pButton icon="pi pi-ellipsis-v" (click)="showOptionsDialog()" style="border: none; background: none; color:blue" aria-label="Options"></button>
      </div>
    </div>


      <div class="d-flex align-items-center flex-wrap w-100 mt-2" *ngIf="stock">
        <div class="menu-middle">
          <p-toggleButton
          [(ngModel)]="selectAll"
          [onLabel]="'Déselectionner tout'"
          offLabel="Sélectionner tout"
          (click)="selectAllProducts()"
          class="pl-2 mr-2"
        ></p-toggleButton>
        <input
          pInputText
          [(ngModel)]="comment"
          placeholder="Votre commentaire"
          class="pr-4 pl-5"
        />

        <p-inputNumber
          [(ngModel)]="qte"
          mode="decimal"
          inputId="withoutgrouping"
          [useGrouping]="false"
          (keyup.enter)="add()"
          class="pr-4 pl-5"
        >
        </p-inputNumber>
      </div>
      <div class="d-flex justify-content-end">
        <p-button
          label="Ajouter"
          icon="pi pi-check"
          iconPos="right"
          (click)="add()"
        ></p-button>
      </div>
      </div>

  </div>
    <div class="card-body p-3">
      <p-table
        [value]="productsStockTable"
        styleClass="p-datatable-gridlines"
        #dt
      ><!-- [columns]="selectedColumns" -->
      <ng-template pTemplate="body" let-row let-color="rowIndex">
        <ng-container *ngIf="row.colorId as productColor" >
          <ng-container *ngIf="totalRow(productColor) as count">
            <tr *ngIf="count.all>0 || optionFlags['showNoStockColors']">
              <td class="text-center td-width"
              (click)="handleColorClick(row.colorId)"
              style="cursor: pointer; background-color: #e9ecef"
              [ngStyle]="{
                'border-right-width': '10px',
                'border-right-color':
                row.colorId | displayColorHex
              }">
                <h6 class="mb-0">{{ [productColor] | displayColor }}: {{ count?.all }}</h6>
                <p-badge *ngIf="count.progress > 0 && optionFlags['showProgress']" [value]="count?.progress" severity="info"></p-badge>
              </td>

              <!-- Iterate over key-value pairs using keyvalue pipe -->
              <ng-container *ngFor="let sizeKey of selectedColumns">
                <ng-container *ngIf="row.sizes[sizeKey] as productSize" >
                  <!-- Ensure productSize.key is already a number -->
                  <ng-container><!-- *ngIf="getTotalColumn(sizeKey) as totalCol" Correction ahmed-->
                    <ng-container ><!-- *ngIf="(totalCol.all > 0 || showNoStockColors)" Correction ahmed-->
                      <td pEditableColumn (click)="onCellClick(productSize.id)" class="text-center td-width p-2" style="cursor: pointer"
                        [ngStyle]="{
                          'background-color': isProductSelected(productSize.id) ? 'rgb(220, 231, 243)' : isProductEdited(productSize.id) ? 'rgb(152, 251, 152)' : ''
                        }">
                        <ng-container>
                          <div>
                            <p-badge *ngIf="productSize.countOos > 0 && optionFlags['showOOS']" [value]="productSize.countOos" severity="danger"></p-badge>
                            <p-badge *ngIf="productSize.countProgress > 0 && optionFlags['showProgress']" [value]="productSize.countProgress" severity="info"></p-badge>
                          </div>
                          <div *ngIf="!stock">
                            <h4>{{ productSize.countPaid }}</h4>
                            <small *ngIf="productSize.countExchange !== 0 && optionFlags['showExchange']">Exchange: {{ productSize.countExchange }}</small>
                          </div>
                          <div *ngIf="stock">
                            <h6>{{ productSize.qte }}</h6>
                          </div>
                            <ng-container *ngIf="getDaysStock(productSize) as delai">
                              <div class="text-center mt-2" *ngIf="optionFlags['showSeverity']" [ngStyle]="{ 'font-size': '0.5rem' }">
                                <p-tag [value]="getSeverityMsg(productSize.qte, delai)"
                                      [severity]="getSeverity(productSize.qte, delai)"></p-tag>
                              </div>
                              <div *ngIf="optionFlags['delaiEnabled']">
                                <h4>{{ delai }} days</h4>
                              </div>
                            </ng-container>

                        </ng-container>
                      </td>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </tr>
          </ng-container>
        </ng-container>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td class="td-width" *ngIf="totalTableValue as total">
            <strong>Total Size {{ total.all }}</strong>
            <p-badge *ngIf="total.progress > 0 && optionFlags['showProgress']" [value]="total.progress" severity="info"></p-badge>
          </td>
          <ng-container *ngFor="let size of selectedColumns">
            <ng-container *ngIf="totalColumnArray[size] as totalCol">
              <ng-container *ngIf="totalCol.all > 0 || optionFlags['showNoStockSizes']">
                <td class="td-width" (click)="handleSizeClick(size)">
                  <h6>{{ [size] | displaySize }}: {{ totalCol.all }}</h6>
                  <p-badge *ngIf="totalCol.progress > 0 && optionFlags['showProgress']" [value]="totalCol.progress" severity="info"></p-badge>
                </td>
              </ng-container>
            </ng-container>
          </ng-container>
        </tr>

      </ng-template>



      </p-table>
    </div>
  </div>

  <!-- History below the table -->
  <div
    class="card shadow-sm rounded mb-3"
    style="background-color: #f8f9fa;"
    >
    <div class="card-header d-flex align-items-center flex-wrap">
      <div class="d-flex flex-wrap align-items-center w-100">
        <button
          pButton
          pRipple
          icon="pi pi-search"
          class="p-button-success p-button-sm"
          (click)="getProductHistory()"
        ></button>
        <input
          pInputText
          type="text"
          [(ngModel)]="searchField"
          placeholder="Référence produit"
          class="mr-3 ml-2"
          (keyup.enter)="getProductHistory()"
          (input)="onInputChange()"
        />
      </div>
    </div>
    <div class="card-body p-3">
      <div class="d-flex justify-content-between align-items-center">
        <h3>History</h3>
        <p-inputSwitch
          [(ngModel)]="historyEnabler"
          optionLabel="label"
          optionValue="value"
          (click)="historyEnablerChange()"

        ></p-inputSwitch>
      </div>
      <app-stock-history
        *ngIf="historyEnabler"
        [productsHistory]="productsHistory"
        [modelId]="modelId"
        (deleteProductsHistoryEvent)="onDeleteProductsHistory($event)"
        (currentPageChange)="onHistoryPageChange($event)"
      ></app-stock-history>
    </div>
  </div>

