<div class="sidebar" [ngClass]="{'collapsed': !isExpanded}" *ngIf="isLoggedIn">
  <div class="sidebar-toggle" (click)="toggleSidebar()">
    <i class="pi" [ngClass]="isExpanded ? 'pi-angle-left' : 'pi-angle-right'"></i>
  </div>
  <div class="sidebar-content">
    <div class="sidebar-header">
      <h2>{{ globalConf.applicationName }}</h2>
      <!-- <p *ngIf="isExpanded">{{ clothingManagementLabel }}</p> -->
    </div>
    <ul class="sidebar-menu">
      <li *ngFor="let item of menuItems"  [routerLinkActive]="['active']">
        <a [routerLink]="item.routerLink">
          <i [class]="item.icon"></i>
          <span>{{ item.label }}</span>
        </a>
      </li>
    </ul>
    <div class="sidebar-footer">
      <p>Bienvenue {{userName}}</p>
      <button pButton label="Sync" icon="pi pi-sync" class="p-button-info" (click)="sync()" *ngIf="!isSuperAdmin"></button>
      <button pButton label="Logout" icon="pi pi-sign-out" class="p-button-danger" (click)="logout()"></button>
    </div>
  </div>
</div>
