<div class="card" style="width: 100%">
  <div class="card-body">
    <h5 class="card-title mb-3">Modèle</h5>
    <div class="card-text">
      <form #modelForm="ngForm">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <label for="name" class="form-label">Nom</label>
              <input pInputText id="name" placeholder="Nom du modèle" name="name" [(ngModel)]="model.name" />
            </div>
            <div class="col-md-4">
              <label for="description" class="form-label">Description</label>
              <input pInputText id="description" placeholder="Description du modèle" name="description"
                [(ngModel)]="model.description" />
            </div>
            <div class="col-md-4">
              <label for="purchasePrice" class="form-label">Prix d'achat</label>
              <input pInputText type="number" id="purchasePrice" placeholder="Prix d'achat" name="purchasePrice"
                [(ngModel)]="model.purchasePrice" (ngModelChange)="calculateGainCoefficient(model)" />
            </div>
            <p>{{ model.earningCoefficient | number:'1.2-2'}} X </p>
            <div class="col-md-4">
              <label for="salePrice" class="form-label">Vente</label>
              <input pInputText type="number" id="salePrice" placeholder="Prix de vente" name="salePrice"
                 [(ngModel)]="salePrice" (ngModelChange)="calculateGainCoefficient(model)" />
            </div>
          </div>


          <!--  -->
          <div class="row mt-4">
            <div class="col-md-12">
              <label for="colors" class="form-label">Couleurs</label>
              <p-multiSelect [options]="colors" [(ngModel)]="model.colors" name="colors" display="chip"
                [style]="{ width: '100%' }" [panelStyle]="{ width: '50%' }" [placeholder]="'-- Choisir les couleurs --'"
                optionLabel="name" appendTo="body"></p-multiSelect>
            </div>
            <!--             <div class="col-md-1">
              <button type="submit" class="btn btn-primary float-end">Ajouter</button>
            </div> -->
          </div>
          <div class="row mt-4">
            <div class="col-md-12">
              <label for="size" class="form-label">Tailles</label>
              <p-multiSelect [options]="sizes" [(ngModel)]="model.sizes" name="sizes" display="chip"
                [style]="{ width: '100%' }" [panelStyle]="{ width: '50%' }" [placeholder]="'-- Choisir les tailles --'"
                optionLabel="reference" appendTo="body"></p-multiSelect>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
