.buttonSize {
    width: 38px;
    height: 38px !important;
   }

tr td {
    text-align: center;
}

tr > th {
    text-align: center;
}

.custom-disabled-colorpicker {
  opacity: 1 !important; /* Ensure the color picker isn't faded when disabled */
  pointer-events: none;  /* Disable interaction without graying out */
}
.custom-disabled-colorpicker .p-colorpicker-preview {
  opacity: 1 !important; /* Ensure the color preview isn't faded */
  background-color: inherit; /* Keep the selected color intact */
}
