<div class="container-fluid">
  <div class="container-fluid">
    <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
      <div class="card-body px-0 py-0 mt-3 ml-2 mr-3 mb-3 d-inline-flex flex-wrap flex-md-no-wrap justify-content-between">
        <div class="d-flex align-items-center flex-wrap">
          <div class="d-flex align-items-center flex-wrap w-100">
              <H1>{{ modelName }}</H1>
          </div>
        </div>
        <div class="d-flex align-items-center flex-wrap">
          <div class="d-flex align-items-center flex-wrap w-100">
            <p-toggleButton [(ngModel)]="selectAll" [onLabel]="'Déselectionner tout'" offLabel="Sélectionner tout"
              (click)="selectAllProducts()" class="pl-2"></p-toggleButton>
            <p-inputNumber [(ngModel)]="qte" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"
              (keyup.enter)="add()" class="pr-4 pl-5"> </p-inputNumber>
            <p-button label="Ajouter" icon="pi pi-check" iconPos="right" (click)="add()"></p-button>
          </div>
        </div>
        <div class="d-flex align-items-center flex-wrap">
          <div class="d-flex flex-wrap align-items-center w-100">
            <p-checkbox class="ml-4 mt-2" [binary]="true" inputId="binary" [(ngModel)]="hide0" ></p-checkbox>
            <label class="ml-2 mt-3" for="ny">Masquer 0</label>
            <p-checkbox class="ml-4 mt-2" [binary]="true" inputId="binary" [(ngModel)]="stock" ></p-checkbox>
            <label class="ml-2 mt-3" for="ny">stock</label>
          </div>
        </div>
        <div class="d-flex align-items-center flex-wrap">
          <div class="d-flex flex-wrap align-items-center w-100">
            <button pButton pRipple icon="pi pi-search" class="p-button-success p-button-sm" (click)="search()"></button>
            <input pInputText type="text" [(ngModel)]="searchField" placeholder="Référence produit" class="mr-3 ml-2"
              (keyup.enter)="search()" />
            <p-calendar [(ngModel)]="rangeDates" (ngModelChange)="filterChange('date')" selectionMode="range"
              dateFormat="dd/mm" [readonlyInput]="true" inputId="range" placeholder="Filtrer par date/période"
              [showClear]="true" [showButtonBar]="true" [showIcon]="true" class="ml-0"
              [style]="{ width: '250px' }"></p-calendar>
          </div>
        </div>
      </div>
    </div>
  </div>




    <div class="justify-content-center row" >
      <div class="col mt-1" style="overflow-x: hidden;min-width:200px;max-width:300px;">
        <div class="card-body">
        <p-listbox [options]="models" [(ngModel)]="selectedModel" optionLabel="name" [filter]="true" [routerLink]="['/stock', selectedModel!.id]"></p-listbox>
        </div>
      </div>
      <div class="col order-first order-xl-1 stock-width" style="overflow-x: hidden;">
        <div class="container-fluid">
            <div class="card mt-2 mb-3" style="background-color: #fbfbfb">
              <div class="card-body">
                    <p-table [value]="products" styleClass="p-datatable-gridlines" [rowSelectable]="isRowSelectable" #dt >
                      <ng-template pTemplate="body" let-productSizes let-j="rowIndex">
                        <tr *ngIf="!(hide0==true && totalRow(j)<1)">
                          <td style="background-color: #fafafa;" (click)="handleColorClick(j)"><h6>{{products[j][0].color.name + " : " + totalRow(j) }}</h6></td>
                          <!-- <td (click)="hideRow(j)" (click)="handleColorClick(j)">{{products[j][0].color.name}}</td> -->
                          <ng-container *ngFor="let productSize of productSizes;let index = index">
                            <ng-container *ngIf="!(hide0==true && totalColumn(index)<1)">
                              <td pEditableColumn (click)="onCellClick(productSize, $event, j)">
                                <ng-container class="d-flex flex-column align-items-center">
                                  <div class="text-center">
                                    <h6>{{ "(" + productSize.color.name + " " + productSize.size.reference + ")" }}</h6>
                                    <h4 *ngIf="stock==false" >{{ getCount(productSize.id) }}</h4>
                                    <h6 *ngIf="stock==true" >{{ productSize.quantity }}</h6>
                                  </div>
                                  <div class="text-center" style="margin-top: 10px;" *ngIf="stock==true">
                                    <p-tag [value]="getSeverity(productSize, false)" [severity]="getSeverity(productSize, true)"></p-tag>
                                  </div>
                                </ng-container>
                                <ng-template #colors>{{ productSize.name }}</ng-template>
                              </td>
                            </ng-container>
                          </ng-container>
                        </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                          <tr>
                            <td>
                              Total Size {{ totalTable()}}
                            </td>
                            <ng-container *ngFor="let size of sizes;let index = index">
                              <ng-container *ngIf="!(hide0==true && totalColumn(index)<1)" >
                            <td (click)="handleSizeClick(index)">
                              {{ totalColumn(index) }}
                            </td>
                              </ng-container>
                            </ng-container>
                          </tr>
                        </ng-template>
                      </p-table>
              </div>
            </div>
        </div>
      </div>
      <div class="col order-last" style="overflow-x: hidden;min-width:380px">
        <div class="card mt-2 mb-3" style="background-color: #fbfbfb">
          <div class="card-body">
              <app-stock-history [productsHistory]="productsHistory" [modelId]="modelId" (deleteProductsHistoryEvent)="onDeleteProductsHistory($event)"></app-stock-history>
          </div>
        </div>
      </div>
    </div>


</div>
<p-toast position="bottom-right"></p-toast>
