.buttonSize {
    width: 38px;
    height: 38px !important;
   }

#table tr >  td , #table tr > th{
    text-align: center;
    max-height: 2px !important;

}

.full-height {
  height: 100%;
}

.full-height .card {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.full-height .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}


:host ::ng-deep .no-products {
    background-color:   #ffebeb !important;
  }

  :host ::ng-deep .warning-product {
    background-color:   #fdfdba!important;
  }

  :host ::ng-deep .expand-model {
    background-color:   rgb(233, 245, 255) !important;
  }

  .model-width {
    width: 15rem;
  }
  .stock-width {
    min-width: 1000px;
  }
  .history-width {
    width: 20rem;
  }

  @media (max-width: 1000px) {
    .model-width{
      width: 15rem;
    }
    .stock-width{
      min-width: 100%;
    }
    .history-width{
      width: 300rem;
    }
  }

