<div class="container-fluid">
  <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
    <div class="card-body">
  <div class="row ml-3">
    <div class="col-md-7">
        <p-dropdown [options]="models" (onChange)="onModelChange($event.value)" optionLabel="name"
          optionValue="id" [style]="{ width: '200px'}" [(ngModel)]="selectedModel"
          [panelStyle]="{ width: '200px' }" [showClear]="true" placeholder="Choisir le modèle" appendTo="body">
        </p-dropdown>
        <p-toggleButton [(ngModel)]="isMultiple" onLabel="SelectionLibre" offLabel="Sélection/Produit" class="pr-2 pl-5"></p-toggleButton>
        <p-toggleButton [(ngModel)]="selectAll" onLabel="UnSelect-All" offLabel="Select-All" (click)="selectAllProducts()"></p-toggleButton>
    </div>
    <div class="col-md-5">
      <p-inputNumber [(ngModel)]="qte" mode="decimal" inputId="withoutgrouping" [useGrouping]="false" (keyup.enter)="add()" class="pr-4"> </p-inputNumber>
      <p-button label="Ajouter du stock" icon="pi pi-check" iconPos="right" (click)="add()"></p-button> 
    </div>
  </div>  
  </div>
  </div>
  <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
    <div class="card-body">
      <div class="row">
<div class="col-md-9">
  <p-table [value]="products" styleClass="p-datatable-gridlines" [rowSelectable]="isRowSelectable" #dt >
    <ng-template pTemplate="header">
      <tr>
        <th>Colors</th>
        <th *ngFor="let size of sizes;let index=index" (click)="handleSizeClick(index, size)" style="cursor: pointer;">{{ size.reference }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-productSizes let-ri="rowIndex">
      <tr>
       <td *ngFor="let productSize of productSizes" pEditableColumn [ngStyle]="getStyle(productSize.quantity)" (click)="onCellClick(productSize, $event, ri)" (mouseenter)="selectMultiple(productSize, $event, ri)">
        <ng-container *ngIf="productSize.quantity != null;else colors"> {{productSize.quantity}}</ng-container>  
      <ng-template #colors> {{productSize.name}}</ng-template>
      </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="col-md-3">
  <app-stock-history [productsHistory]="productsHistory" [modelId]="selectedModel"></app-stock-history>

</div>

</div>
</div>
</div>
<div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
  <div class="card-body">
      <div class="row">
       
        </div>
        </div>
        </div>
</div>
