<h5 class="mb-3 ml-3 mt-4">Ajouter une couleur</h5>
<div class="card ml-4 mt-4 mb-4" style="width: 90%;">
  <div class="card-body">
    <div class="card-text">
      <form #modelForm="ngForm" (ngSubmit)="addColor(modelForm)">
        <div class="container">
          <div class="row justify-content">
            <div class="col-md-4">
              <label for="name">Nom</label>
              <input pInputText id="name" placeholder="Nom de la couleur" name="name" style="width: 10rem;"
                [(ngModel)]="color.name" />
            </div>
            <div class="col-md-2">
              <p-colorPicker class ='ml-3' name="hex" [(ngModel)]="color.hex"/>
            </div>
          </div>
          <br>
          <div class="col-md-12 mt-2">
            <ng-container *ngIf="colorService.editMode;else addMode">
              <div class="row">
                <div class="col-md-3">
                  <button type="submit" class="btn btn-success">Modifier</button>
                </div>
                <div class="col-md-9">
                  <button type="button" class="btn btn-info" (click)="reset(modelForm)">Reset</button>
                </div>
              </div>
            </ng-container>
            <ng-template #addMode>
              <button type="submit" class="btn btn-primary">Ajouter</button>
            </ng-template>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
