<h5 class="mb-3 ml-3 mt-4">Configuration Globale</h5>
<div class="card ml-4 mt-4 mb-4" style="width: 90%">
  <div class="card-body">
    <div class="card-text">
      <form #modelForm="ngForm" (ngSubmit)="addGlobalConf()">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <label for="applicationName"
                >Nom de l'application</label
              >
              <input
                pInputText
                id="applicationName"
                placeholder="Nom de l'application"
                name="applicationName"
                [(ngModel)]="globalConf.applicationName"
                class="ml-3"
              />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <label for="reference" class="form-label"
                >Société de livraison</label
              >
              <p-dropdown
                [options]="deliveryCompanies"
                [(ngModel)]="globalConf.deliveryCompany"
                optionLabel="additionalName"
                name="deliveryCompany"
                [style]="{ width: '100%'}"
                appendTo="body"
              ></p-dropdown>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-3">
              <label for="fbPage" class="form-label">Source par default</label>
              <p-dropdown
                [options]="fbPages"
                [(ngModel)]="globalConf.fbPage"
                optionLabel="name"
                name="fbPage"
                [style]="{ width: '100%'}"
                appendTo="body"
                [showClear]="true"
              ></p-dropdown>
            </div>
            <div class="col-md-3">
              <p-selectButton
              [options]="multipage"
              [(ngModel)]="globalConf.oneSourceApp"
              optionLabel="label"
              optionValue="value"
              name = "oneSourceApp"
              [disabled]="multipageDisabled"
              class="mt-2">
            </p-selectButton>
            </div>

          </div>




          <div class="row mt-2">
            <div class="col-md-6">
              <label for="comment" class="form-label">Commentaire</label>
              <textarea
                rows="2"
                cols="40"
                pInputTextarea
                name="comment"
                [(ngModel)]="globalConf.comment"
                placeholder="Veuillez saisir un commentaire"
                class="ml-3"
              ></textarea>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <label for="exchangeComment" class="form-label">Echange commentaire</label>
              <textarea
                rows="2"
                cols="40"
                pInputTextarea
                name="exchangeComment"
                [(ngModel)]="globalConf.exchangeComment"
                placeholder="Veuillez saisir un commentaire"
                class="ml-3"
              ></textarea>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="cronExpression"
                >Expression Cron</label
              >
              <input
                pInputText
                id="cronExpression"
                placeholder="Expression Cron"
                name="cronExpression"
                [(ngModel)]="globalConf.cronExpression"
              />
            </div>
          </div>
          <br />
          <div class="col-md-12 mt-2">
              <button type="submit" class="btn btn-primary">Valider</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
