<div class="container-fluid">
  <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
    <div class="card-body px-0 py-0">
      <div class="row mt-3 ml-2 mr-3 mb-3">
        <div class="col-md-5">
          <p-calendar
            [(ngModel)]="rangeDates"
            (ngModelChange)="findAllPackets()"
            selectionMode="range"
            dateFormat="dd/mm"
            [readonlyInput]="true"
            inputId="range"
            placeholder="Filtrer par date/période"
            [showClear]="true"
            (onClearClick)="resetTable()"
            [showButtonBar]="false"
            [showIcon]="true"
            class="ml-4"
            [style]="{ width: '14rem'}"
            [touchUI]="true"
          >
          <ng-template pTemplate="footer">
            <div style="display: flex; align-items: center;">
                <p-button label="All" styleClass="p-button-text" (click)="allDateFilter()"></p-button>
                <p-button label="Semaine" styleClass="p-button-text" (click)="weekDate()"></p-button>
                <p-button label="15 jours" styleClass="p-button-text" (click)="twoWeekDate()"></p-button>
                <p-button label="Mois" styleClass="p-button-text" (click)="monthDate()"></p-button>
                <p-button label="-4" styleClass="p-button-text" (click)="minus4daysDate()"></p-button>
                <p-button styleClass="p-button-text" (click)="previousDate()">
                  <i class="fa fa-arrow-left"></i>
                </p-button>
                <p-button styleClass="p-button-text" (click)="nextDate()">
                  <i class="fa fa-arrow-right"></i>
                </p-button>
                <p-button label="Clear" styleClass="p-button-text" (click)="clearDate()"></p-button>
            </div>
          </ng-template>
        </p-calendar>
        </div>
      </div>
    </div>
  </div>
</div>

<!---------------------------------Packets Chart----------------------------------------
<div class="container-fluid">
  <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
    <p-card header="Packets Chart" [style]="{ width: '100%'}">
      <p-tabView>
        <p-tabPanel header="Chart">
          <p-chart type="line" [data]="PacketsData" [options]="PacketsOptions"></p-chart>
        </p-tabPanel>
        <p-tabPanel header="Table">
            <table class="table">
              <thead>
                <tr>
                  <th>Category</th>
                  <th>Min-Max</th>
                  <th>Average</th>
                  <th>Sum</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of modelTable | keyvalue">
                  <td>{{ item.key }}</td>
                  <td>{{ item.value.min }}-{{ item.value.max }}</td>
                  <td>{{ item.value.average.toFixed(2) }}</td>
                  <td>{{ item.value.sum }}</td>
                </tr>
              </tbody>
            </table>
        </p-tabPanel>
        </p-tabView>
    </p-card>
  </div>
</div>-->

<!-----------------------------------Packets Chart---------------------------------------->
<div class="container-fluid">
  <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
    <p-card header = "Packets" [style]="{ width: '100%'}">
      <p-tabView>
        <p-tabPanel header="Chart">
          <p-chart type="line" [data]="packetsData" [options]="packetsOptions"></p-chart>
        </p-tabPanel>
        <p-tabPanel header="Table">
          <table class="table">
            <thead>
              <tr>
                <th>Model</th>
                <th>Min-Max</th>
                <th>Average</th>
                <th>Sum</th>
                <th>Pourcentage</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of packetsTableData">
                <td>{{ item.name }}</td>
                <td>{{ item.min }}-{{ item.max }}</td>
                <td>{{ item.avg }}</td>
                <td>{{ item.sum }}</td>
                <td>{{ item.per }}%</td>
              </tr>
            </tbody>
          </table>
        </p-tabPanel>
      </p-tabView>
    </p-card>
  </div>
</div>

<!-----------------------------------Models Chart---------------------------------------->
<div class="container-fluid">
  <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
      <p-card header="Models Chart" [style]="{ width: '100%'}">
        <p-tabView>
          <p-tabPanel header="Chart">
            <p-chart type="line" [data]="modelsData" [options]="modelsOptions" (onDataSelect) = "dataSelect($event)"></p-chart>
          </p-tabPanel>
          <p-tabPanel header="Table">
            <table class="table">
              <thead>
                <tr>
                  <th>Model</th>
                  <th>Min-Max</th>
                  <th>Average</th>
                  <th>Sum</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of modelTableData">
                  <td>{{ item.name }}</td>
                  <td>{{ item.min }}-{{ item.max }}</td>
                  <td>{{ item.avg }}</td>
                  <td>{{ item.sum }}</td>
                </tr>
              </tbody>
            </table>
          </p-tabPanel>
        </p-tabView>
      </p-card>
  </div>
</div>
<!-----------------------------------Offers Chart---------------------------------------->
<div class="container-fluid">
  <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
    <p-card [style]="{ width: '100%'}">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <H3>Offers Chart</H3>
        </div>
        <div>
          <p-selectButton [options]="enablerOptions" [(ngModel)]="offersChartEnabler" optionLabel="label" optionValue="value" (click)="offersChartEnablerChange()"></p-selectButton>
        </div>
        <div></div>
      </div>
      <p-tabView *ngIf="offersChartEnabler">
        <p-tabPanel header="Chart">
          <p-chart type="line" [data]="offersData" [options]="offersOptions"></p-chart>
        </p-tabPanel>
        <p-tabPanel header="Table">
          <table class="table">
            <thead>
              <tr>
                <th>Model</th>
                <th>Min-Max</th>
                <th>Average</th>
                <th>Sum</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of offerTableData">
                <td>{{ item.name }}</td>
                <td>{{ item.min }}-{{ item.max }}</td>
                <td>{{ item.avg }}</td>
                <td>{{ item.sum }}</td>
              </tr>
            </tbody>
          </table>
        </p-tabPanel>
      </p-tabView>
    </p-card>
  </div>
</div>

<!-----------------------------------Colors Chart---------------------------------------->
<div class="container-fluid" >
  <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
    <p-card [style]="{ width: '100%'}">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <H3>Colors Chart</H3>
        </div>
        <div>
          <p-selectButton [options]="enablerOptions"
          [(ngModel)]="colorsChartEnabler"
          optionLabel="label"
          optionValue="value"
          (click)="colorsChartEnablerChange()"></p-selectButton>
        </div>
        <div class="d-flex align-items-center">

          <p-multiSelect
            [options]="allModelsList"
            [(ngModel)]="selectedModels"
            name="name"
            (onChange)="selectModels('global')"
            (onClear)="selectModels('clear')"
            defaultLabel="models"
            [showClear]="true"
            [showHeader]="false"
            selectedItemsLabel="{0} model sélectionnés"

            class="model-menu"
            optionLabel="name"
            placeholder="Select Models"
          ></p-multiSelect>
          <p-button label="Filter" class="ml-2" icon="pi pi-check" iconPos="right" (click)="getStatAllColorsChart()"></p-button>
        </div>
      </div>
      <p-tabView *ngIf="colorsChartEnabler">
        <p-tabPanel header="Chart">
          <p-chart type="line" [data]="colorsData" [options]="colorsOptions"></p-chart>
        </p-tabPanel>
        <p-tabPanel header="Table">
          <table class="table">
            <thead>
              <tr>
                <th>Model</th>
                <th>Min-Max</th>
                <th>Average</th>
                <th>Sum</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of colorsTableData">
                <td>{{ item.name }}</td>
                <td>{{ item.min }}-{{ item.max }}</td>
                <td>{{ item.avg }}</td>
                <td>{{ item.sum }}</td>
              </tr>
            </tbody>
          </table>
        </p-tabPanel>
      </p-tabView>
    </p-card>
  </div>
</div>



<!-----------------------------------Stock Chart---------------------------------------->
<div class="container-fluid">
  <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
      <p-card [style]="{ width: '100%'}">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <H3>Stock Chart</H3>
          </div>
          <div class="mb-3">
            <p-selectButton [options]="enablerOptions" [(ngModel)]="stockChartEnabler" optionLabel="label" optionValue="value" (click)="stockChartEnablerChange()"></p-selectButton>
          </div>
          <div></div>
        </div>
        <p-tabView *ngIf="stockChartEnabler">
          <p-chart type="line" [data]="stockData" [options]="stockOptions"></p-chart>
        </p-tabView>

      </p-card>
  </div>
</div>

<!--------------------------------States Chart---------------------------------------->
<div class="container-fluid">
  <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
    <p-card [style]="{ width: '100%'}">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <H3>Gouvernerat Chart</H3>
        </div>
        <div class="mb-3">
          <p-selectButton [options]="enablerOptions" [(ngModel)]="statesChartEnabler" optionLabel="label" optionValue="value" (click)="statesChartEnablerChange()"></p-selectButton>
        </div>
        <div></div>
      </div>
      <p-tabView *ngIf="statesChartEnabler">
        <p-chart type="bar" [data]="StatesData" [options]="StatesOptions"></p-chart>
      </p-tabView>
    </p-card>
  </div>
</div>
<!-------------------------------------Pages Chart---------------------------------------->
<div class="container-fluid">
  <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
      <p-card [style]="{ width: '100%'}">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <H3>Pages Chart</H3>
          </div>
          <div class="mb-3">
            <p-selectButton [options]="enablerOptions" [(ngModel)]="pagesChartEnabler" optionLabel="label" optionValue="value" (click)="pagesChartEnablerChange()"></p-selectButton>
          </div>
          <div></div>
        </div>
        <p-tabView *ngIf="pagesChartEnabler">
          <p-chart type="pie" [data]="PagesData" [options]="PagesOptions"></p-chart>
        </p-tabView>
      </p-card>
  </div>
</div>
