<!--<table width="100%">
  <tr>
    <td colspan="2">
      <h5>totalRow</h5>
    </td>
    <td colspan="2">
      <h5>qtePerSizeColumn</h5>
    </td>
    <td colspan="2">
      <h5>totalPerDayColumn</h5>
    </td>
    <td colspan="2">
      <h5>totalPerDayColorColumn</h5>
    </td>
    <td colspan="2">
      <h5>Model</h5>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p-inputSwitch
        (onChange)="handleChange()"
        [(ngModel)]="totalRow"
      ></p-inputSwitch>
    </td>
    <td colspan="2">
      <p-inputSwitch
        (onChange)="handleChange()"
        [(ngModel)]="qtePerSizeColumn"
      ></p-inputSwitch>
    </td>
    <td colspan="2">
      <p-inputSwitch
        (onChange)="handleChange()"
        [(ngModel)]="totalPerDayColumn"
      ></p-inputSwitch>
    </td>
    <td colspan="2">
      <p-inputSwitch
        (onChange)="handleChange()"
        [(ngModel)]="totalPerDayColorColumn"
      ></p-inputSwitch>
    </td>
    <td colspan="2">
      <p-dropdown [options]="models" [(ngModel)]="selectedModel" (onChange)="handleChange()" [placeholder]="selectedModel"></p-dropdown>
    </td>
  </tr>
</table>

<p-table [value]="statTab" styleClass="p-datatable-gridlines">
  <ng-template pTemplate="header">
    <tr>
      <th rowspan="3">Day</th>
      <th colspan="40">{{ selectedModel }}</th>
    </tr>
    <tr *ngIf="qtePerSizeColumn">
      <th [attr.colspan]="columnPerColor" *ngFor="let color of colors">
        {{ color }}
      </th>
    </tr>
    <tr>
      <th *ngFor="let size of sizesRow">{{ size }}</th>
      <th *ngIf="totalPerDayColumn">tot/jour</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-stat>
    <tr>
      <td *ngFor="let x of stat">{{ x }}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="footer">
    <tr *ngIf="totalRow">
      <td>total</td>
      <td *ngFor="let x of totalPerSize">{{ x }}</td>
    </tr>
  </ng-template>
</p-table>

<table>
    <tr>
      <td>Sizes</td>
      <td *ngFor="let x of sizes">{{ x }}</td>
    </tr>
  <tr>
    <td>totalPerSizeRow</td>
    <td *ngFor="let x of totalPerSizeRow">{{ x }}</td>
  </tr>
</table>
-->
<!-- <div class="card">
  <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
</div>
 -->

<div class="container-fluid">
  <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
    <div class="card-body px-0 py-0">
      <div class="row mt-3 ml-2 mr-3 mb-3">
        <div class="col-md-5">
          <p-calendar
            [(ngModel)]="rangeDates"
            (ngModelChange)="findAllPackets()"
            selectionMode="range"
            dateFormat="dd/mm"
            [readonlyInput]="true"
            inputId="range"
            placeholder="Filtrer par date/période"
            [showClear]="true"
            (onClearClick)="resetTable()"
            [showButtonBar]="false"
            [showIcon]="true"
            class="ml-4"
            [style]="{ width: '14rem'}"
            [touchUI]="true"
          >
          <ng-template pTemplate="footer">
            <div style="display: flex; align-items: center;">
                <p-button label="All" styleClass="p-button-text" (click)="allDateFilter()"></p-button>
                <p-button label="Semaine" styleClass="p-button-text" (click)="weekDate()"></p-button>
                <p-button label="15 jours" styleClass="p-button-text" (click)="twoWeekDate()"></p-button>
                <p-button label="Mois" styleClass="p-button-text" (click)="monthDate()"></p-button>
                <p-button label="-4" styleClass="p-button-text" (click)="minus4daysDate()"></p-button>
                <p-button styleClass="p-button-text" (click)="previousDate()">
                  <i class="fa fa-arrow-left"></i>
                </p-button>
                <p-button styleClass="p-button-text" (click)="nextDate()">
                  <i class="fa fa-arrow-right"></i>
                </p-button>
                <p-button label="Clear" styleClass="p-button-text" (click)="clearDate()"></p-button>
            </div>
          </ng-template>
        </p-calendar>
        </div>
      </div>
    </div>
  </div>
</div>
<!--------------------------------States Chart---------------------------------------->
<div class="container-fluid">
  <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
    <p-card header="Pays Chart" style="width: 100%">
      <p-chart type="bar" [data]="StatesData" [options]="StatesOptions"></p-chart>
    </p-card>
  </div>
</div>
<!---------------------------------Packets Chart---------------------------------------->
<div class="container-fluid">
  <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
      <p-card header="Packets Chart" style="width: 100%">
        <p-chart type="line" [data]="PacketsData" [options]="PacketsOptions"></p-chart>
      </p-card>
  </div>
</div>
<!-----------------------------------Models Chart---------------------------------------->
<div class="container-fluid">
  <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
      <p-card header="Models Chart" style="width: 100%">
          <p-chart type="line" [data]="modelsData" [options]="modelsOptions"></p-chart>
      </p-card>
  </div>
</div>
<!-------------------------------------Pages Chart---------------------------------------->
<div class="container-fluid">
  <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
      <p-card header="Pages Chart" style="width: 100%">
        <p-chart type="pie" [data]="PagesData" [options]="PagesOptions"></p-chart>
      </p-card>
  </div>
</div>
