
  html {
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 14px;

    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

  article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block; }

  body {
    margin: 0px;
    line-height: 1.2;}

  small {
    font-size: 80%; }

  button {
    border-radius: 4px !important;
  }
  .order-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }

  .order-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13; }

* {
  box-sizing: border-box;
}

.toggle-b-space{
  width: 6rem;
  height: 3rem;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-middle{
  flex-grow: 1;
  text-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  .megabar-header {
    flex-direction: column;
    align-items: flex-start;
  }




}



