:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
    font-size: 13px;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th{
    text-align: center !important;
    font-size: 13px;
}

.required {
    color: red;
}