<div class="flex justify-content-center mt-2 mb-2" style="background-color: #ffffff">
  <ng-container *ngFor="let item of statusItems; let i = index">
    <div class="flex-container shadow-6 d-flex justify-content-center mr-2"
      style="cursor: pointer;"
      *ngIf="item.isUserOption == true || isAdmin"
      #menuItem
      (click)="toggleListbox(i,item)"
      [ngClass]="{
        'selected-item': i === borderIndex,
        'default-item': i !== borderIndex
      }"
      >
      <div class="flex flex-column align-items-center p-2 relative"
      [ngClass]="{'cursor-pointer': item.options}">
        <i [class]="item.icon" [ngStyle]="{'color': item.color, 'font-size': '1.23rem'}"  class="icon-shadow"></i>
        <span class="text-400 mt-1" style="color: black">{{ item.label }}</span>
        <span class="mt-1">
          <p-badge [value]="item.count" severity="info"></p-badge>
          <b *ngIf="item.dayCount">
            <p-badge [value]="item.dayCount" severity="warning" class="ml-1"></p-badge>
          </b>
        </span>
      </div>

      <!-- Listbox logic here -->
      <div *ngIf="item.options && selectedIndex === i" class="listbox-container">
        <p-listbox
          [options]="item.options"
          [(ngModel)]="item.selectedOptions"
          [multiple]="true"
          (onChange)="onOptionSelect(item)"
          class="listbox-style">
        </p-listbox>
      </div>
    </div>
  </ng-container>
</div>
