
<div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
  <p-card [style]="{ width: '100%'}">
    <p-tabView >
      <p-tabPanel header="Table">
        <p-table class="table" [value]="pagesTableData"
              sortField="profits" [sortOrder]="-1"
              [scrollable]="true" scrollHeight="400px"
              styleClass="p-datatable-striped">
              <ng-template pTemplate="header">
                <tr>
                  <th>Offer</th>
                  <th pSortableColumn="paid">Payée<p-sortIcon field="paid" /></th>
                  <th pSortableColumn="progress">En cours<p-sortIcon field="progress" /></th>
                  <th>Retour</th>
                  <th>Payée/Retour</th>
                  <th pSortableColumn="profits" >Profits<p-sortIcon field="profits" /></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index>
                <tr>
                  <td>{{ item.name }}</td>
                  <td>{{ item.countPaid }}</td>
                  <td>{{ item.countProgress }}</td>
                  <td>{{ item.countReturn }}</td>
                  <td>{{ formatNumber(item) }}%</td>
                  <td>{{ item.profits | number:'1.0-0' }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td>Total</td>
                  <td>{{ totals.paid }}</td>
                  <td>{{ totals.progress }}</td>
                  <td>{{ totals.retour }}</td>
                  <td></td>
                  <td>{{ totals.profits | number:'1.0-0' }}</td>
                </tr>
              </ng-template>
        </p-table>
      </p-tabPanel>
      <p-tabPanel header="Chart">
        <p-chart type="line" [data]="pagesCountData" [options]="pagesCountOptions" height="30rem"></p-chart>
      </p-tabPanel>
      <p-tabPanel header="Pie Chart">
        <p-chart type="pie" [data]="PagesData" [options]="PagesOptions" height="30rem"></p-chart>
      </p-tabPanel>
    </p-tabView>
  </p-card>
</div>
