.buttonSize {
    width: 38px;
    height: 38px !important;
   }

tr td {
    text-align: center;
}

tr > th {
    text-align: center;
}

:host ::ng-deep .p-fluid .p-button-icon-only {
    width: 3rem !important;
}


