<p-toast position="bottom-right"></p-toast>
<!--
<div class="row mb-5">
    <app-add-model [model]="model"></app-add-model>
</div> -->

<div class="container-fluid">
    <!--     <p-toolbar styleClass="mb-4"> -->
    <div class="card mt-2 mb-3" style="background-color: #fbfbfb; margin-left: 6rem;">
        <div class="card-body">
            <div class="d-flex megabar-header menu">
                <div class="toggle-b-space"></div>
                <div class="menu-middle">
                    <h5>Liste des modèles</h5>
                </div>
                <div class="d-flex justify-content-end">
                    <button pButton pRipple icon="pi pi-plus" class="p-button-success mr-2 addButtonSize"
                        (click)="openNew()"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" [style]="{ width: '99%'}">
    <p-table styleClass="p-datatable-striped" [value]="models" [rows]="10" responsiveLayout="scroll" [rowHover]="true" dataKey="id">

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon></th>
                <!--th>Image</th-->
                <th pSortableColumn="purchasePrice">Prix d'achat<p-sortIcon field="reference"></p-sortIcon></th>
                <th pSortableColumn="purchasePrice">Prix de vente<p-sortIcon field="reference"></p-sortIcon></th>
                <th pSortableColumn="colors">Couleurs <p-sortIcon field="colors"></p-sortIcon></th>
                <th pSortableColumn="size">Taille (Max) <p-sortIcon field="size"></p-sortIcon></th>
                <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                <th pSortableColumn="enabled">Activé <p-sortIcon field="enabled"></p-sortIcon></th>
                <th>
                    <div class="d-flex flex-wrap align-items-center w-100">
                        <div class="d-flex justify-content-end">
                            <span style="margin-top: 0.7rem">Actions</span>
                            <button pButton icon="pi pi-ellipsis-v" (click)="op.toggle($event)"
                                style="border: none; background: none; color:blue" aria-label="Options"></button>
                        </div>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-model>
            <tr>
                <td>{{model.name}}</td>
                <!--td><img  *ngIf="model.bytes != null" [src]="model.image" [alt]="model.name" width="100" height="100" class="shadow-4" /></td-->
                <td>{{model.purchasePrice}}</td>
                <td>{{model.purchasePrice * model.earningCoefficient | number:'1.0-0'}}</td>
                <td>{{ model.colors | displayColor | displayJoin}}</td>
                <td>{{ model.sizes | displaySize | displayJoin : '-' }}</td>

                <td>
                    <div class="align-items-center gap-3" *ngIf="model.description != ''">
                        <span class="align-items-center gap-2">
                            <i class="pi pi-tag"></i>
                            {{ model.description }}
                        </span>
                    </div>
                </td>
                <td>
                    <ng-container *ngIf="model.enabled;else disabled">
                        <i class="pi pi-unlock" style="color: green;font-size: 1.2rem;"></i>
                    </ng-container>
                    <ng-template #disabled>
                        <i class="pi pi-lock" style="color: red;font-size: 1.2rem;"></i>
                    </ng-template>
                </td>
                <td>
                  <div style="display: flex; align-items: center; gap: 8px;">
                    <!-- Eye Icon to open dialog -->
                    <i class="pi pi-eye" style="cursor: pointer; font-size: 1.5em;" (click)="openStockTable(model)"></i>

                    <!-- Conditional Buttons for Edit and Delete, or Rollback -->
                    <ng-container *ngIf="!model.deleted; else rollBackButton">
                      <button pButton pRipple icon="pi pi-pencil"
                          class="p-button-rounded p-button-warning buttonSize"
                          (click)="editModel(model)">
                      </button>
                      <button pButton pRipple icon="pi pi-trash"
                          class="p-button-rounded p-button-danger buttonSize"
                          (click)="deleteModel(model)">
                      </button>
                    </ng-container>

                    <!-- Rollback Button -->
                    <ng-template #rollBackButton>
                      <button pButton pRipple icon="pi pi-undo"
                          class="p-button-rounded p-button-primary buttonSize"
                          (click)="rollBackModel(model)">
                      </button>
                    </ng-template>
                  </div>
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="8">
                <label>Liste vide</label>
            </td>
          </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="showStockDialog" modal="true" [closable]="true" [header]="selectedModel.name" (onHide)="closeStockDialog()">
  <ng-container *ngIf="showStockDialog">
    <app-stock-table-min [selectedModel]="selectedModel"></app-stock-table-min>
  </ng-container>
</p-dialog>

<p-dialog [(visible)]="modelDialog" [style]="{width: '60%'}" header="Détails du modèle" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <app-add-model [editMode]="editMode" [model]="model" [modelNameExists]="modelNameExists" [error]="error"
            (formValidationEmitter)="checkFormValidation($event)"></app-add-model>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple [label]="editMode ? 'Modifier' : 'Ajouter'"
            [icon]="editMode ? 'pi pi-pencil small' : 'pi pi-plus small'" class="p-button-text"
            [disabled]="!isValidModel" (click)="saveModel()">
        </button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<p-overlayPanel #op [style]="{ width: '250px' }">
    <p class="font-bold">Filter Par :</p>
    <p-listbox [options]="actionsOptions" [(ngModel)]="selectedActionsOptions" optionLabel="label" [multiple]="true"
        [style]="{ width: '100%' }" [listStyle]="{ 'max-height': '40rem' }" (onChange)="onOptionSelect()"
        class="listbox-style">
    </p-listbox>
</p-overlayPanel>

<p-dialog
    header="Header"
    [modal]="true"
    [(visible)]="hasDeletionErrors"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        {{errors}}
</p-dialog>
