<p-toast position="bottom-right"></p-toast>
<!--
<div class="row mb-5">
    <app-add-model [model]="model"></app-add-model>
</div> -->

<div class="container-fluid">
<!--     <p-toolbar styleClass="mb-4"> -->
    <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
        <div class="card-body">
        <div class="row">
            <div class="col-md-10">
                <h5>Liste des modèles</h5>
            </div>
            <div class="col-md-2 d-flex justify-content-end">
                <button pButton pRipple icon="pi pi-plus" class="p-button-success mr-2 buttonSize" (click)="openNew()"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-danger mr-3 buttonSize" (click)="deleteSelectedModels()" [disabled]="!selectedModels || selectedModels.length == 0"></button>
            </div>
        </div>
    </div>
    </div>
</div>
<!--         <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template> -->
<!--     </p-toolbar> -->
<div class="container-fluid" [style]="{ width: '99%'}">
    <p-table #dt [value]="models" [rows]="10" responsiveLayout="scroll" [(selection)]="selectedModels" [rowHover]="true" dataKey="id">

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon></th>
                <!--th>Image</th-->
                <th pSortableColumn="purchasePrice">Prix d'achat<p-sortIcon field="reference"></p-sortIcon></th>
                <th pSortableColumn="purchasePrice">Prix de vente<p-sortIcon field="reference"></p-sortIcon></th>
                <th pSortableColumn="colors">Couleurs <p-sortIcon field="colors"></p-sortIcon></th>
                <th pSortableColumn="size">Taille (Max) <p-sortIcon field="size"></p-sortIcon></th>
                <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                <th pSortableColumn="enabled">Activé <p-sortIcon field="enabled"></p-sortIcon></th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-model>
            <tr>
                <td>
                    <p-tableCheckbox [value]="model"></p-tableCheckbox>
                </td>
                <td>{{model.name}}</td>
                <!--td><img  *ngIf="model.bytes != null" [src]="model.image" [alt]="model.name" width="100" height="100" class="shadow-4" /></td-->
                <td>{{model.purchasePrice}}</td>
                <td>{{model.purchasePrice * model.earningCoefficient | number:'1.0-0'}}</td>
                <td>{{modelColorsDisplay(model.colors)}}</td>
                <td>{{modelSizesDisplay(model.sizes)}}</td>
                <td>
                    <div class="align-items-center gap-3" *ngIf="model.description != ''">
                        <span class="align-items-center gap-2">
                            <i class="pi pi-tag"></i>
                        {{ model.description }}
                        </span>
                    </div>
                </td>
                <td>
                  <ng-container *ngIf="model.enabled;else disabled">
                      <i class="pi pi-unlock" style="color: green;font-size: 17px;"></i>
                  </ng-container>
                  <ng-template #disabled>
                      <i class="pi pi-lock" style="color: red;font-size: 17px;"></i>
                  </ng-template>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2 buttonSize" (click)="editModel(model)"></button>
<!--                     <button pButton pRipple icon="pi pi-table" class="p-button-rounded p-button-success mr-2 buttonSize" [routerLink]="['/stock', model.id]"></button> -->
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="modelDialog" [style]="{width: '60%'}" header="Détails du modèle" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <app-add-model [editMode]="editMode" [model]="model" [modelNameExists]="modelNameExists" (formValidationEmitter)="checkFormValidation($event)"></app-add-model>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple [label]="editMode ? 'Modifier' : 'Ajouter'" [icon]="editMode ? 'pi pi-pencil small' : 'pi pi-plus small'" class="p-button-text" [disabled]="!isValidModel" (click)="saveModel()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
