
    <p-table [value]="productsStockArray" styleClass="p-datatable-striped" #dt>
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">Color</th>
          <th *ngFor="let size of selectedColumns" class="text-center">{{ [size] | displaySize }}</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row>
        <tr *ngIf="totalRow(row.colorId) as count" [ngClass]="{ 'd-none': count === 0 }" style="padding: 0.1rem;">
          <td class="text-center td-width" [ngStyle]="{
            'border-right-width': '10px',
            'border-right-color':
            row.colorId | displayColorHex
          }">
            <h6 class="mb-0">{{ [row.colorId] | displayColor }}: {{ count }}</h6>
          </td>
          <ng-container *ngFor="let sizeKey of selectedColumns">
            <td class="text-center">
              <ng-container *ngIf="row.sizes[sizeKey] !== null">
                <h6 [ngStyle]="{
                  'color': row.sizes[sizeKey]<1 ? 'red' : 'Black'
                }">{{ row.sizes[sizeKey] }}</h6>
              </ng-container>
            </td>
          </ng-container>
        </tr>
      </ng-template>

      <ng-template pTemplate="footer" >
        <tr *ngIf="productsStockArray && productsStockArray.length > 1">
          <td class="text-center td-width">
            <strong>Total: {{ totalTableValue }}</strong>
          </td>
          <ng-container *ngFor="let size of selectedColumns">
            <td class="text-center td-width">
              <ng-container>
                <h6>{{ [size] | displaySize }}: {{ totalColumn(size) }}</h6>
              </ng-container>
            </td>
          </ng-container>
        </tr>
      </ng-template>
    </p-table>

