<h5 class="mb-3 ml-3 mt-4">Ajouter societe de livraison</h5>
<div class="card ml-4 mt-4 mb-4" style="width: 90%;">
  <div class="card-body">
    <div class="card-text">
      <form #modelForm="ngForm" (ngSubmit)="addDeliveryCompany(modelForm)">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <label for="name">Nom</label>
              <input pInputText id="name" placeholder="Nom de la société de livraison" name="name"
                [(ngModel)]="deliveryCompany.name" />
            </div>
            <div class="col-md-6">
              <label for="link">Token</label>
              <input pInputText id="token" placeholder="Token" name="token"
                [(ngModel)]="deliveryCompany.token" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <label for="apiName">Api Name</label>
              <input pInputText id="apiName" placeholder="Nom api donnée par la société" name="apiName"
                [(ngModel)]="deliveryCompany.apiName" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <label for="barreCodeUrl" class="form-label">Lien colis par barreCode</label>
              <input pInputText id="barreCodeUrl" placeholder="Lien d'accées recherche par code a barre" name="barreCodeUrl"
                [(ngModel)]="deliveryCompany.barreCodeUrl" />
            </div>
          </div>
          <br>
          <div class="col-md-12 mt-2 pull-left">
            <ng-container *ngIf="steLivraisonService.editMode;else addMode">
              <div class="row">
                <div class="col-md-3">
                  <button type="submit" class="btn btn-success">Modifier</button>
                </div>
                <div class="col-md-9">
                  <button type="button" class="btn btn-info" (click)="reset(modelForm)">Reset</button>
                </div>
              </div>
            </ng-container>
            <ng-template #addMode>
              <button type="submit" class="btn btn-primary">Ajouter</button>
            </ng-template>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
