.buttonSize {
    width: 38px;
    height: 38px !important;
}
/* 
:host ::ng-deep .p-datatable-scrollable .p-datatable-thead>tr>th, .p-datatable-scrollable .p-datatable-tbody>tr>td, .p-datatable-scrollable .p-datatable-tfoot>tr>td {
    display: inline-block !important;
    text-align: center !important;
    flex: 1 1 0 !important;
    align-items: center !important;
} */

:host ::ng-deep .p-datatable-scrollable .p-datatable-thead>tr>th, 
:host ::ng-deep .p-datatable-scrollable .p-datatable-tbody>tr>td, 
:host ::ng-deep .p-datatable-scrollable .p-datatable-tfoot>tr>td {
    display: inline-block !important;
    flex: 1 1 0;
    align-items: center;
    text-align: center !important;
}