<p-toast position="bottom-right"></p-toast>
<p-contextMenu
  #contextMenu
  [model]="optionButtons"
></p-contextMenu>
<app-packets-menue-container class = "megabar" [filter] = "filter" [nbrSelectedPackets] = "selectedPackets.length" (filterPacketsEmitter)="onFilterPacketsChange($event)" (buttonPacketsEmitter)="onButtonMenuClick($event)"></app-packets-menue-container>
<div class="table-container" style="height: max-content;">
  <p-table #dt
    [columns]="cols" [showCurrentPageReport]="true"
    [value]="packets"
    styleClass="p-datatable-gridlines p-datatable-sm mb-1"
    class="table table-hover .scroll-wrapper"
    [(selection)]="selectedPackets"
    selectionMode="multiple"
    responsiveLayout="scroll"
    [exportHeader]="'customExportHeader'"
    dataKey="id"
    (onEditInit)="onEditInit($event)" (onEditComplete)="onEditComplete($event)" [loading]="loading" [lazy]="true" [contextMenu]="contextMenu" (contextmenu)="openContextMenu($event, selectedPacket, contextMenu)">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3rem; padding: 0.1rem 0.1rem !important" class="align-center">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="align-center"
          style="padding: 0.1rem 0.1rem !important">
          {{ col.header }}<p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-packet let-rowIndex>
      <tr
      [pContextMenuRow]="packet" (contextmenu)="openContextMenu($event, packet, contextMenu)" #tr [ngClass]="{
          'row-accessories-2days': checkValidity(
            packet.date,
            today_2,
            packet.status
          ),
          'row-accessories-exchange': packet.exchangeId>0
        }" style="border-bottom: 1px solid #b1b1b1; border-bottom-color: #cdcdcd94 ">
        <td style="padding: 0.1rem 0.1rem !important">
          <p-tableCheckbox [value]="packet" class="mb-2"></p-tableCheckbox>
          {{ packet.id }}
        </td>
        <td [pEditableColumn]="packet" pEditableColumnField="date" style="
            cursor: pointer;
            max-width: 250px;
            padding: 0.1rem 0.1rem !important;
          " *ngIf="packet.barcode == ''">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-calendar [(ngModel)]="packet.date" [touchUI]="true" dateFormat="dd/mm" [appendTo]="dt"
                [minDate]="today"></p-calendar>
            </ng-template>
            <ng-template pTemplate="output">
              {{ packet.date | date : "dd/MM" }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td *ngIf="packet.barcode != ''">
          {{ packet.date | date : "dd/MM" }}
        </td>
        <!-- <td >{{ packet.date | date : "dd/MM" }}</td> -->
        <td [pEditableColumn]="packet" pEditableColumnField="fbPageId" style="
            cursor: pointer;
            max-width: 7rem;
            padding: 0.1rem 0.1rem !important;
          ">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown [options]="fbPages" [(ngModel)]="packet.fbPageId"
                optionValue="id" optionLabel="name"
                placeholder="Page"
                [style]="{ width: '100%' }" class="p-inputtext-sm mt-2" [panelStyle]="{ width: '10rem' }" appendTo="body">
              </p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{ getFbPageNameById(packet.fbPageId) }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td style="cursor: pointer; padding: 0.1rem 0.1rem !important;min-width: 14rem;max-width: 16rem;" class="breakWord">
          <table style="width: 100%; border-collapse: collapse;"> <!-- Ensures the table takes the full width -->
            <tr class="tdHover mt-3">
              <!-- First editable column for the Customer Name -->
              <td [pEditableColumn]="packet" pEditableColumnField="customerName" style="width: 50%; border: none;padding-right: 1rem;">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input
                        id="customerName"
                        pInputText
                        placeholder="Nom Client"
                        type="text"
                        [(ngModel)]="packet.customerName"
                        class="p-inputtext-sm"
                      />
                  </ng-template>

                  <ng-template pTemplate="output">
                    <div class="d-flex justify-content-center">
                      <span *ngIf="packet.customerName;else noValue" class="default-text">
                        {{ packet.customerName}}
                      </span>
                    </div>
                  </ng-template>
                </p-cellEditor>
              </td>

              <!-- Second editable column for the Customer Phone -->
              <td [pEditableColumn]="packet" pEditableColumnField="customerPhoneNb" style="width: 50%; border: none;padding-left: 1rem;">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input
                        id="customerPhoneNb"
                        pInputText
                        type="text"
                        [(ngModel)]="packet.customerPhoneNb"
                        pattern="((\+|00)216)?[0-9]{8}(/[0-9]{8})?"
                        maxlength="17"
                        class="p-inputtext-sm"
                        placeholder="(+216)"
                        (input)="selectPhoneNumber(packet)"
                      />
                  </ng-template>

                  <ng-template pTemplate="output">
                    <div class="d-flex justify-content-center">
                      <span *ngIf="packet.customerPhoneNb;else noValue" class="default-text">
                        {{ formatPhoneNumber(packet.customerPhoneNb) }}
                      </span>
                    </div>
                  </ng-template>
                </p-cellEditor>
              </td>
            </tr>

            <!-- Optional: Notes logic -->
            <tr *ngIf="packet?.notes?.length > 0 && (packet.status === 'Injoignable' || packet.status === 'Supprimé' || packet.status === 'Annuler')">
              <td colspan="2" style="background-color: #f2f8ff !important; border-radius: 10px">
                <i class="pi pi-comment mr-3 p-text-secondary" severity="info" [value]="packet?.notes.length" *ngIf="packet?.notes.length > 1" pBadge style="font-size: 0.8rem" value="2"></i>
                <span class="note-explanation"> - {{ packet.notes[packet.notes.length - 1]?.explanation }} </span><br>
                <span class="align-center note-user">{{ packet.notes[packet.notes.length - 1]?.user?.userName }} - {{ packet.notes[packet.notes.length - 1]?.date | date: 'dd/MM/yy HH:mm' }}</span>
              </td>
            </tr>
          </table>
        </td>


        <td style="cursor: pointer; max-width: 20rem;">
          <table style="width: 100%; border-collapse: collapse;"> <!-- Ensures no border for table and takes full width -->
            <tr class="tdHover mt-3">
              <!-- First editable column for the City dropdown -->
              <td [pEditableColumn]="packet" pEditableColumnField="cityId" style="width: 50%; border: none;">
                <p-cellEditor>
                  <!-- Input Template for City Editing -->
                  <ng-template pTemplate="input">
                    <div>
                      <p-dropdown
                        [options]="groupedCities"
                        [(ngModel)]="packet.cityId"
                        optionLabel="label"
                        optionValue="value"
                        placeholder="Choisir la ville"
                        [group]="true"
                        [filter]="true"
                        filterBy="label,value,governorate"
                        [style]="{ width: '100%' }"
                        class="p-inputtext-sm"
                        [panelStyle]="{ width: '100%' }"
                        appendTo="body">
                        <ng-template let-city pTemplate="item">
                          <div class="p-d-flex p-ai-center">
                            <span>{{ city.label }}</span>
                          </div>
                        </ng-template>
                      </p-dropdown>
                  </div>
                  </ng-template>

                  <!-- Output Template for City Display -->
                  <ng-template pTemplate="output">
                    <div class="d-flex justify-content-center">
                      <span *ngIf="packet.cityName;else noValue" class="default-text">
                        {{ packet.cityName }}
                      </span>
                    </div>
                  </ng-template>
                </p-cellEditor>
              </td>

              <!-- Second editable column for the Address textarea -->
              <td [pEditableColumn]="packet" pEditableColumnField="address" style="width: 50%; border: none;">
                <p-cellEditor>
                  <!-- Input Template for Address Editing -->
                  <ng-template pTemplate="input">
                    <div>
                      <textarea
                        placeholder="Adresse et description"
                        [rows]="3"
                        [cols]="22"
                        class="p-inputtext-sm"
                        pInputTextarea
                        [(ngModel)]="packet.address"
                        [autoResize]="true"
                        [style]="{ width: '100%' }">
                      </textarea>
                  </div>
                  </ng-template>

                  <!-- Output Template for Address Display -->
                  <ng-template pTemplate="output">
                    <div class="d-flex justify-content-center">
                      <span *ngIf="packet.cityName;else noValue" class="default-text">
                        {{ packet.address }}
                      </span>
                    </div>
                  </ng-template>
                </p-cellEditor>
              </td>
            </tr>
          </table>
        </td>
        <td style="max-width: 250px; padding: 0.1rem 0.1rem !important">
          <ng-container *ngIf="packet.packetDescription != ''; else addMode">
            <p changeColor (click)="loadOfferListAndOpenOffersDialog(packet,true)" style="cursor: pointer">
              <p-badge *ngIf="
                  packet.stock < 10 &&
                  packet.stock > -1 &&
                  packet.stock != null &&
                  packet.valid == false
                " severity="info" [value]="packet.stock"></p-badge>
              <p-badge *ngIf="packet.stock == -1" severity="warning" value="ND"></p-badge>
              {{ packet.packetDescription }}
              <i class="pi pi-pencil" style="color: red; font-size: 14.5px; padding-left: 10px"></i>
            </p>
          </ng-container>
          <ng-template #addMode>
            <button pButton pRipple (click)="loadOfferListAndOpenOffersDialog(packet,false)" icon="pi pi-plus" style="font-size: small; width: 5px"
              class="p-button-primary p-button-sm"></button>
          </ng-template>
        </td>
        <td style="padding: 0.1rem 0.1rem !important">
          {{ packet.totalPrice }} DT
        </td>
        <td [pEditableColumn]="packet" pEditableColumnField="status" [ngStyle]="{
            'border-right-width': '4px',
            'border-right-color':
              packet.deliveryCompany.name === 'FIRST'
                ? 'green'
                : packet.deliveryCompany.name === 'NAVEX'
                ? 'gold'
                : packet.deliveryCompany.name === 'JAX'
                ? 'purple'
                : 'red'
          }">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown [options]="packetStatusList" [(ngModel)]="packet.status" class="p-inputtext-sm"
                placeholder="-- Statut --" [style]="{ width: '90%' }" [panelStyle]="{ width: '10rem' }" appendTo="body">
                <ng-template let-packet pTemplate="group">
                  <div class="p-d-flex p-ai-left">
                    <span>{{ packet.status }}</span>
                  </div>
                </ng-template>
              </p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              <div [ngClass]="{
                  noModelSelectedStatus:
                    packet.stock < 0 && packet.barcode == '',
                  outofstockStatus: packet.stock == 0 && packet.barcode == '',
                  lowstockStatus:
                    packet.stock > 0 &&
                    packet.stock < 10 &&
                    packet.barcode == '',
                  instockStatus: packet.stock > 10 && packet.barcode == ''
                }">
                {{ packet.status }}
              </div>
            </ng-template>
          </p-cellEditor>
          <div>
            {{ packet.lastUpdateDate | date : "yyyy-MM-dd" }}
          </div>
        </td>
        <td [pEditableColumn]="packet" pEditableColumnField="barcode" style="cursor: pointer" class="breakWord"
          #barcode>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="packet.barcode" maxlength="17" class="p-inputtext-sm"
                placeholder="Code à barre" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ packet.barcode }}
              <p class="mb-0">
                <i *ngIf="packet.valid" class="pi pi-check-circle" style="color: green"></i>
              <i
                *ngIf="packet.haveExchange"
                class="pi pi-check-circle"
                style="color: rgb(255, 166, 0)"
              ></i>
              </p>
              <p class="mb-0">{{ packet.lastDeliveryStatus }}</p>
            </ng-template>
          </p-cellEditor>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="cols.length + 1">
          <ng-container *ngIf="packets.length > 0; else emptyList">
            <label>Il n'y a pas de commandes qui correspondent aux filtres
              choisies</label>
          </ng-container>
          <ng-template #emptyList>
            <label>Veuillez ajouter les commandes d'aujourd'hui</label>
          </ng-template>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-paginator *ngIf="realTotalItems > pageSize" [rows]="pageSize" [totalRecords]="realTotalItems"
  (onPageChange)="onPageChange($event)"
  currentPageReportTemplate="Affiché {first} à {last} des {totalRecords} commandes"
  [rowsPerPageOptions]="[25, 50, 100, 200, 500, 1000,5000]">
</p-paginator>
<p-dialog [(visible)]="modelDialog" [style]="{ width: '90%' }" header="{{
    editMode ? 'Mettre à jour les articles' : 'Ajouter des articles'
  }}" [modal]="true" appendTo="body" (onHide)="hideDialog()">
  <ng-template pTemplate="content">
    <app-add-packet [packet]="packet" (submitEvent)="OnSubmit($event)"
      [editMode]="editMode"></app-add-packet>
  </ng-template>
</p-dialog>
<p-dialog [header]="suiviHeader" [modal]="true" [(visible)]="display">
  <p-timeline [value]="events">
    <ng-template pTemplate="content" let-event>
      <!-- Check if the event object is defined before accessing its properties -->
      <small class="p-text-secondary" *ngIf="event">{{ event.date }}</small>
    </ng-template>
    <ng-template pTemplate="opposite" let-event>
      <!-- Check if the event object is defined before accessing its properties -->
      <span *ngIf="event">{{ event.status }}</span>
    </ng-template>
  </p-timeline>
</p-dialog>
<p-dialog [header]="suiviHeader" [modal]="true" [(visible)]="displayStatus" [style]="{ width: '35vw' }">
  <p-timeline [value]="statusEvents">
    <ng-template pTemplate="content" let-event>
      <!-- Check if the event object is defined before accessing its properties -->
      <small class="p-text-secondary" *ngIf="event">{{
        event.date
        ? (event.date | date : "yyyy/MM/dd HH:mm")
        : "yyyy/MM/dd hh:mm"
        }}</small>
    </ng-template>
    <ng-template pTemplate="opposite" let-event>
      <!-- Check if the event object is defined before accessing its properties -->
      <ng-container *ngIf="event.user; else userNotFound">
        {{ event.user }} - {{ event.status }}
      </ng-container>
      <ng-template #userNotFound>{{ event.status }}</ng-template>
    </ng-template>
  </p-timeline>
</p-dialog>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<p-dialog header="Ajouter une remarque" [(visible)]="visibleNote" [style]="{ width: '50vw' }">
  <div class="row container-fluid mt-4">
    <div class="col-md-2">
      <label for="explanation">Explication</label>
    </div>
    <div class="col-md-10">
      <span style="font-style: italic;font-size: 1rem;" class="mb-2">{{ explanationTitle }}</span>
      <textarea rows="5" cols="60" [(ngModel)]="explanation" style="min-height: 10rem" [placeholder]="!note.clientReason  ? 'Sélectionner une raison' : 'Donner plus de détails ...'"
        pInputTextarea [autoResize]="true" [disabled]="!note.clientReason" #expRef></textarea>
    </div>
  </div>
  <div class="row container mt-3">
    <div class="col-md-2">
      <label for="clientReason">Raison</label><span style="color: red;"> (*)</span>
    </div>
    <div class="col-md-10">
      <div class="card" style="display: block; padding: 10px; justify-content: center;">
        <div class="container-fluid">
          <p-button *ngFor="let clientReason of clientReasons;let i=index" [outlined]="clientReason.outlined" [text]="clientReason.text" [label]="clientReason.label" (click)="onSelectReason(clientReason.value, i)" [severity]="clientReason.severity" size="small" class="px-2"/>
        </div>
    </div>
    </div>
  </div>
  <div class="flex justify-content-center pt-3">
    <button type="button" pButton (click)="confirmNote()" label="Confirmer" [disabled]="!note.clientReason"></button>
  </div>
</p-dialog>

<p-overlayPanel #op [style]="{ width: 'auto'}" [showCloseIcon]="true" appendTo="body">
  <ng-template pTemplate="content">
      <p-table
          [value]="selectedPacketNotes"
          styleClass="p-datatable p-datatable-sm mb-1"
          [paginator]="selectedPacketNotes.length > 6"
          [rows]="7"
          responsiveLayout="scroll">
              <ng-template pTemplate="header">
                  <tr class="align-center">
                      <th>Note</th>
                      <th>Utilisateur</th>
                      <th>Date</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-note>
                  <tr [pSelectableRow]="rowData">
                      <td class="word-break">
                        {{ rowData.explanation }}
                      </td>
                      <td>
                        {{ note.user.userName }}
                    </td>
                    <td>
                      {{ note.date | date: 'dd/MM/yy HH:mm' }}
                  </td>
                  </tr>
              </ng-template>
      </p-table>
  </ng-template>
</p-overlayPanel>
<ng-template #noValue>
  <hr class="no-value">
</ng-template>
<!-- <div class="col d-flex flex-wrap align-items-center w-100" style="min-width:300px;max-width:425px;">
          <p-multiSelect
            [options]="statusList"
            [formControl]="selectedStatus"
            name="sizes"
            (onChange)="filterPackets('global')"
            (onClear)="filterPackets('clear')"
            defaultLabel="Statut"
            [showClear]="true"
            [showHeader]="false"
            selectedItemsLabel="{0} status sélectionnés"
            class="mr-2 mt-2"
            [style]="{ width: '10rem' }"
             appendTo="body"
          ></p-multiSelect>
          <p-dropdown
            [options]="statesList"
            [(ngModel)]="selectedStates"
            name="sizes"
            (onChange)="filterPackets('states')"
            (onClear)="filterPackets('clear')"
            defaultLabel="-- Filtrer par état --"
            [showClear]="true"
            selectedItemsLabel="{0} états sélectionnés"
            appendTo="body"
            [style]="{ width: '8rem' }"
            class="w-auto mt-2"
            placeholder="Etat"
          ></p-dropdown>
      </div> -->

