<p-table #dt [value]="deliveryCompanyList" [rows]="10" responsiveLayout="scroll" [rowHover]="true" dataKey="id">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="name">Nom supplementaire<p-sortIcon field="additionalName"></p-sortIcon>
            </th>
            <th pSortableColumn="link">Token <p-sortIcon field="token"></p-sortIcon>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-deliveryCompany>
        <tr>
            <td>{{deliveryCompany.id}}</td>
            <td>{{deliveryCompany.name}}</td>
            <td>{{deliveryCompany.additionalName}}</td>
            <td style="font-weight: bold;">{{deliveryCompany.token.substring(0, 40)}}</td>
             <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-4 buttonSize"
                    (click)="editDeliveryCompany(deliveryCompany)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger buttonSize"
                    (click)="deleteDeliveryCompany(deliveryCompany)"></button>
                <!--<p-inputSwitch class="ml-4" [(ngModel)]="ste.enabled" (onChange)="enableSte(ste)"></p-inputSwitch>-->
            </td>
        </tr>
    </ng-template>
</p-table>
<!-- config.component.html -->
