
<p-table #dt [value]="productsHistory?.result" responsiveLayout="scroll"   [(selection)]="selectedProductsHistory" [rowHover]="true" dataKey="id"
    styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
        <tr>
            <th> Référence
            </th>
            <th >Quantité
            </th>
            <th >Date</th>
            <th >Utilisateur</th>
            <th >Commentaire</th>
            <th style="width: 3rem;padding: 0.1rem 0.1rem !important" class="align-center" *ngIf="productsHistory?.result?.length > 0">

                <button
pButton
pRipple
icon="pi pi-trash"
class="p-button-danger mb-2  buttonSize"
(click)="deleteSelectedProductsHistory()"
[disabled]="!selectedProductsHistory || selectedProductsHistory.length == 0"
></button>
              </th>
                <!--  <th>Actions</th> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-productHistory>
        <tr>
            <td>{{productHistory.description}}</td>
            <td style="font-weight: bold;"><span
                    [ngStyle]="{'color': productHistory.quantity > 0 ? 'green' : 'red'}">{{displayQuantity(productHistory.quantity)}}</span>
            </td>
            <td>{{productHistory.date}}</td>
            <td>{{productHistory.user?.userName}}</td>
            <td>{{productHistory.comment}}</td>
             <td><p-tableCheckbox [value]="productHistory" class="mb-2"></p-tableCheckbox></td>

            <!--             <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-4 buttonSize"
                    (click)="editColor(color)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-bu  tton-rounded p-button-danger buttonSize"
                    (click)="deleteColor(color)"></button>
            </td> -->
        </tr>
    </ng-template>
</p-table>

<p-paginator [rows]="10" [totalRecords]="productsHistory?.totalItems" (onPageChange)="onPageChange($event)">
</p-paginator>
