
    <div class="card ml-4 mt-2 mb-3" style="background-color: #fbfbfb">
      <p-card [style]="{ width: '100%'}">
        <p-tabView>
          <p-tabPanel header="Vue d'ensemble">
            <div class="flex justify-content-center mt-2 mb-2" style="background-color: #ffffff">
              <ng-container>
                <p-card class="custom-card">
                  <div class="content">
                    <div class="icon-section">
                      <i class="pi pi-home"></i>
                    </div>
                    <div class="text-section">
                      <div class="value">{{ totalCard.quantity }}</div>
                      <div class="label">Articles en stock</div>
                    </div>
                    <div class="info-section">
                      <div class="info-item">
                        <span class="info-label">Profit Prévu</span>
                        <span class="info-value">{{ totalCard.profits | number:'1.0-0' }} DT</span>
                      </div>
                      <div class="info-item">
                        <span class="info-label">Valeur Stock</span>
                        <span class="info-value">{{ totalCard.purchasePrice | number:'1.0-0' }} DT</span>
                      </div>
                      <div class="info-item">
                        <span class="info-label">Prix de Vente</span>
                        <span class="info-value">{{ totalCard.sellingPrice | number:'1.0-0' }} DT</span>
                      </div>
                    </div>
                  </div>
                </p-card>

                <p-card class="custom-card2 ml-4">
                  <div class="content">
                    <div class="icon-section">
                      <i class="pi pi-cart-plus"></i>
                    </div>
                    <div class="text-section">
                      <div class="value">{{ totalModel.paid }}</div>
                      <div class="label2">Articles vendu</div>
                    </div>
                    <div class="info-section">
                      <div class="info-item">
                        <span class="info-label2">En cours</span>
                        <span class="info-value2">{{ totalModel.progress | number:'1.0-0' }} DT</span>
                      </div>
                      <div class="info-item">
                        <span class="info-label2">Moyenne/Jours</span>
                        <span class="info-value2">{{ totalModel.avg | number:'1.0-0' }} DT</span>
                      </div>
                      <div class="info-item">
                        <span class="info-label2">Profit Prévu</span>
                        <span class="info-value2">{{ totalModel.profits | number:'1.0-0' }} DT</span>
                      </div>
                    </div>
                  </div>
                </p-card>
              </ng-container>
            </div>

          </p-tabPanel>
          <p-tabPanel header="Table">
            <p-table class="table" [value]="modelTableData"
                sortField="profits" [sortOrder]="-1"
                [scrollable]="true" scrollHeight="400px" >
              <ng-template pTemplate="header">
                <tr>
                  <th>Model</th>
                  <th>Min-Max</th>
                  <th pSortableColumn="avg">Avg<p-sortIcon field="avg" /></th>
                  <th pSortableColumn="paid">Payée<p-sortIcon field="paid" /></th>
                  <th pSortableColumn="progress">En cours<p-sortIcon field="progress" /></th>
                  <th>Retour</th>
                  <th>Payée/Retour</th>
                  <th pSortableColumn="purchasePrice">Prix Achat<p-sortIcon field="purchasePrice" /></th>
                  <th pSortableColumn="sellingPrice">Prix Vente<p-sortIcon field="sellingPrice" /></th>
                  <th pSortableColumn="profits" >Profits<p-sortIcon field="profits" /></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td>{{ item.name }}</td>
                  <td>{{ item.min }}-{{ item.max }}</td>
                  <td>{{ item.avg }}</td>
                  <td>{{ item.paid }}</td>
                  <td>{{ item.progress }}</td>
                  <td>{{ item.retour }}</td>
                  <td>{{ formatNumber(item) }}%</td>
                  <td>{{ item.purchasePrice | number:'1.0-0' }}</td>
                  <td>{{ item.sellingPrice | number:'1.0-0' }}</td>
                  <td>{{ item.profits | number:'1.0-0' }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td>{{ totalModel.name }}</td>
                  <td>{{ totalModel.min }}-{{ totalModel.max }}</td>
                  <td>{{ totalModel.avg }}</td>
                  <td>{{ totalModel.paid }}</td>
                  <td>{{ totalModel.progress }}</td>
                  <td>{{ totalModel.retour }}</td>
                  <td>{{ formatNumber(totalModel) }}%</td>
                  <td>{{ totalModel.purchasePrice | number:'1.0-0' }}</td>
                  <td>{{ totalModel.sellingPrice | number:'1.0-0' }}</td>
                  <td>{{ totalModel.profits | number:'1.0-0' }}</td>
                </tr>
              </ng-template>
            </p-table>

          </p-tabPanel>
          <p-tabPanel header="Chart">
            <p-chart type="line" [data]="modelsData" [options]="modelsOptions" height="30rem"></p-chart>
          </p-tabPanel>
        </p-tabView>
      </p-card>
    </div>
