.buttonSize {
    width: 38px;
    height: 38px !important;
   }

#table tr >  td , #table tr > th{
    text-align: center;
    max-height: 2px !important;

}

:host ::ng-deep .no-products {
    background-color:   #ffebeb !important;
  }
  
  :host ::ng-deep .warning-product {
    background-color:   #fdfdba!important;
  }

  :host ::ng-deep .expand-model {
    background-color:   rgb(233, 245, 255) !important;
  }
