
.statusbar {
  position: fixed;
  top: 3.4rem;
  left: 0;
  width: 80%;
  margin-left: 7rem;
  color: #000000;
  z-index: 1000;
}

.menu-input-fields{
  padding: 0.5rem 0.5rem;
  font-size: 0.9rem;
}

.input-group {
  margin-left: 0.5rem;
}

.input-group-text {
  background-color: #1976D2;
  color: white;
}

.form-control {
  width: 250px;
}

input::placeholder {
  font-size: 0.9rem !important;
}

button {
  width: 37px;
}
/*
::ng-deep .p-calendar button {
  width: 37px !important;
} */

::ng-deep .p-toolbar{
  padding: 0 0 0 1rem ;
}

.red-border {
  box-shadow: 0px 4px 6px rgba(248, 5, 5, 0.963);

}  /*border: 2px solid red;*/
