<div class="container-fluid">
  <!-- header -->
    <form [formGroup]="packetForm"  style="width: 100%;">
      <div class="card">
        <div class="card-body">
          <div class="card-title mb-2">
            <div class="container-fluid">
            <div class="row">
              <div class="col-md-3" >
                <p-checkbox lass="mb-2" [binary]="true" inputId="binary" [ngModelOptions]="{standalone: true}" [(ngModel)]="enableFakeSize" ></p-checkbox>
                <label class="ml-2 mt-2" for="ny">Fake Size</label>
              </div>
              <div class="col-md-3" >
                <p-checkbox lass="mb-2" [binary]="true" inputId="binary" [ngModelOptions]="{standalone: true}" [(ngModel)]="enableAllOffer" (onChange)="getOffersSwitch()"></p-checkbox>
                <label class="ml-2 mt-2" for="ny">All offer</label>
              </div>
            </div>
            </div>
          </div>
          <div class="card-text">
            <div class="container-fluid">
              <div class="table-container">
                <table class="table-bordered" style="background-color: #fcfcfc;width: 100%;border: rgb(214, 214, 214);" formArrayName="offers">
                  <thead align="center">
                    <th>Offres</th>
                    <th>Modèles - Articles</th>
                    <th>
                      <button pButton icon="pi pi-plus" class="p-button-success buttonSize"
                      (click)="addOffer()"></button>
                    </th>
                  </thead>
                  <tr *ngFor="let offer of offers().controls; let i=index" [formGroupName]="i" class="mt-4">
                    <td class="offreTd"><!-- ... Dropdown for selecting offer ... -->
                      <p-dropdown [options]="offersSelected" (onChange)="onOfferChange($event.value, i)" optionLabel="name"
                        formControlName="id" optionValue="id" [style]="{ width: '200px'}"
                        [panelStyle]="{ width: '200px','padding-Left':'0rem'}"
                        [showClear]="true" placeholder="Choisir l'offre" appendTo="body">
                      </p-dropdown>
                    </td>
                    <td formArrayName="offerModels">
                      <!-- ... Model details ... -->
                      <tr *ngFor="let model of models(i).controls; let j=index" [formGroupName]="j" class="mt-3"  style="max-width: 100%;">
                        <td style="text-align:center;vertical-align: middle;background-color: aliceblue;width: 20%;"><!-- ... Unused image ... -->
                          <small style="font-style: normal;align-items: center; font-size: medium">{{model.get("name")?.value}}</small>
                          <!--img *ngIf="model.get('image')?.value != null" [src]="'data:image/jpeg;base64,' + model.get('image')?.value" width="60" height="60" class="shadow-4 mt-1" /-->
                        </td>
                        <td><!-- ... Dropdown for selecting colors ... -->
                          <p-dropdown [options]="model.get('colors')?.value"
                            (ngModelChange)="colorSizeChange(model, j, offer)"
                            optionLabel="name" optionValue="id"
                            formControlName="selectedColor"
                            [style]="{ width: '300px'}" [panelStyle]="{ width: '300px' }"
                            [showClear]="true" appendTo="body"
                            placeholder="Choisir la couleur">
                          </p-dropdown>
                        </td>
                        <td><!-- ... Dropdown for selecting sizes ... -->
                          <p-dropdown [options]="model.get('sizes')?.value" (ngModelChange)="colorSizeChange(model, j, offer)"
                            optionLabel="reference" optionValue="id" formControlName="selectedSize"
                            [style]="{ width: '150px'}" [panelStyle]="{ width: '80%' }" appendTo="body"
                            [panelStyle]="{ width: '100px' }" [showClear]="true" placeholder="Choisir la taille">
                          </p-dropdown>
                        </td>
                        <td><!-- ... Model Stock Box ... -->
                          <ng-container class="d-flex flex-column align-items-center">
                            <div class="text-center">
                              <h6>Stock:</h6>
                              <h5>{{ model.get('selectedProduct')?.value.qte }}</h5>
                            </div>
                          </ng-container>
                        </td>
                        <td *ngIf="enableFakeSize == true"><!-- ... Fake size Box ... -->
                          <p-dropdown [options]="model.get('sizes')?.value" (ngModelChange)="colorSizeChange(model, j, offer)" optionLabel="reference" optionValue="id" formControlName="selectedSizeReel" [style]="{ width: '150px'}" [panelStyle]="{ width: '80%' }" appendTo="body"
                            [panelStyle]="{ width: '100px' }" [showClear]="true" placeholder="msg">
                          </p-dropdown>
                        </td>
                      </tr>
                    </td>
                    <td style="text-align: center">
                      <button pButton pRipple icon="pi pi-trash" class="p-button-danger buttonSize"
                          (click)="removeOffer(offer , i)"></button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>

      <div *ngIf="productsPrice > 0" class="row">
        <div class="col-md-3" align="center">
          <span style="font-size: medium;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: 580;color: blue">Prix Articles : </span>
          <label style="font-weight: bold">{{productsPrice}} DT</label>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-5">
              <small>Prix Livraison</small>
              </div>
              <div class="col-md-4">
                <input pInputText type="number" (change)="calculatePacketPrice()" style="height: 2rem !important; width: 4rem;" min="0" placeholder="Liivraison"
                name="deliveryPrice" formControlName="deliveryPrice" />
              </div>
             </div>
          </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-5">
          <small>Remise</small>
          </div>
          <div class="col-md-6">
            <input pInputText type="number" (change)="calculatePacketPrice()" style="height: 2rem !important;width: 4rem;" id="price" min="0" placeholder="Remise"
            name="discount" formControlName="discount"/>
          </div>
         </div>
        </div>
        <div class="col-md-2" align="center">
          <span style="font-size: medium;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: 580;color: #22C55E">Prix Total : </span>
          <label style="font-weight: bold">{{packetPrice}} DT</label>
        </div>
        <div class="col-md-2">
          <p-toast></p-toast>
          <p-confirmPopup>
              <ng-template pTemplate="content" let-message>
                  <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border p-3 mb-3">
                      <i [class]="message.icon" class="text-6xl text-primary-500"></i>
                      <p>{{ message.message }}</p>
                  </div>
              </ng-template>
          </p-confirmPopup>
          <p-button (click)="onSubmit($event)" icon="pi pi-check" label="Valider"></p-button>
        </div>
        </div>
      <!-- <button type="submit" class="btn btn-success" >Valider</button> -->

    </form>
</div>
